.header__button {
    background: linear-gradient(90deg, rgba(25, 75, 253, 1) 0%, rgba(173, 19, 251, 1));
}
.header__button:hover {
    background: #16171d;
    color: rgba(25, 75, 253, 1);
}

.header__before {
    position: relative;
}
.header__before:nth-child(1)::before {
    position: absolute;
    content: url(../../images/Header/call.png);
    left: -20px;
    top: 0;
}

.header__before:nth-child(2)::before {
    position: absolute;
    content: url(../../images/Header/send.png);
    left: -20px;
    top: 0;
}
.header__before:nth-child(3)::before {
    position: absolute;
    content: url(../../images/Header/ping.png);
    left: -20px;
    top: 0;
}

@media (max-width: 767px) {
    nav {
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100%;

        padding: 140px 10px 10px 10px;
        transition: 0.7s ease-in-out;
        background-color: #08060d;
        z-index: 3;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        margin-bottom: 60px;
        font-size: 32px;
        color: #fff;
    }

    .navbar.active {
        top: 0;
    }

    .header__burger {
        height: 20px;
        width: 30px;
        position: relative;
        cursor: pointer;
        display: block;
        z-index: 5;
    }
    .header__burger.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 15px;
        background-color: #fff;
    }
    .header__burger.active span:nth-child(2) {
        transform: scale(0);
    }
    .header__burger.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: 16px;
        background-color: #fff;
    }
    .header__burger span {
        left: 0;
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #fff;
        top: 0;
        transition: 0.5s ease;
    }
    .header__burger span:nth-child(2) {
        top: 9px;
        transition: 0.5s ease;
    }
    .header__burger span:nth-child(3) {
        position: absolute;
        top: 20px;
        transition: 0.5s ease;
    }
}
