@import "tailwindcss";
@import "./fonts/fonts.css";

:root {
  --text: #9ca3af;
  --border: #2e303a;
  letter-spacing: 0.18px;
  background-color: #171719;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: satoshi, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
