.recommend__img-box::before {
    content: url(../../images/Recommend/star.png);
    position: absolute;
    top: -45px;
    left: -50px;
    width: 108px;
    height: 108px;
}
.center-star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}
.recommend__text-box::before{
    content: url(../../images/Recommend/smallStar.png);
    position: absolute;
    bottom: -8px;
    right: -65px;
}
.recommend__text-box::after{
    content: url(../../images/Recommend/round.png);
    position: absolute;
    top: -45px;
    left: 15px;
}